.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;

  .item_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding: 5px;
    border: solid 1px lightgray;
    border-radius: 3px;
    margin-bottom: 5px;

    &:hover {
      background-color: #ebe9e9;
    }
  }

  .item_notActive {
    color: darkgray;
    text-decoration: line-through;
  }

  .ant-btn  {
    width: 35px;
  }
}
